$white: hsl(0, 0, 100%);

$mainColor: hsl(207, 13%, 34%);
$altColor: hsl(356, 100%, 66%);
$hoverColor: hsl(355, 100%, 74%);
$headingsColor: hsl(208, 49%, 24%);
$footerBackground: hsl(240, 10%, 16%);
$footertext: hsl(240, 2%, 79%);

$fontFamilyG: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$mainFont: "Overpass";
$altFont: "Ubuntu";
$fontFamily: $mainFont, $altFont, $fontFamilyG;

$mainGradient: hsl(13, 100%, 72%), hsl(353, 100%, 62%);
$altGradient: hsl(237, 17%, 21%), hsl(237, 23%, 32%);

$radius: 6.5rem;
